# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

build
raspi2raspi
Components/ADC/MCP3008-Tests/MCP3008-Tests/Debug/
Components/ADC/MCP3008-Tests/.vs/
Components/ADC/ADCDriver/Debug/
Components/ADC/MCP3008-Tests/Debug/
Components/ADC/-----------/.vs/
projects/tests/cpp-test-threads/cpp/vs/
