[Desktop Entry]
Encoding=UTF-8
Name=Link to ARM Information Center
Type=Link
URL=http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0301h/index.html
Icon=text-html
