[Desktop Entry]
Encoding=UTF-8
Name=Link to BCM2835 datasheet errata - eLinux.org
Type=Link
URL=http://elinux.org/BCM2835_datasheet_errata
Icon=text-html
