[Desktop Entry]
Encoding=UTF-8
Name=Link to GPIO Electrical Specifications, Raspberry Pi Input and Output Pin Voltage and Current Capability
Type=Link
URL=http://www.mosaic-industries.com/embedded-systems/microcontroller-projects/raspberry-pi/gpio-pin-electrical-specifications
Icon=text-html
Name[en_US]=Link to GPIO Electrical Specs
